<section class="root">
  <header><h1>Flex Box Reference</h1></header>
  <section class="content">

   <section class="basic-flex">
     <div class="flex-container">
       <div class="flex-item one">One</div>
       <div class="flex-item two">Two</div>
       <div class="flex-item three">Three</div>
       <div class="flex-item four">Four</div>
       <div class="flex-item five">Five</div>
       <div class="flex-item six">Six</div>
       <div class="flex-item seven">Seven</div>
       <div class="flex-item eight">Eight</div>
       <div class="flex-item nine">Nine</div>
       <div class="flex-item ten">Ten</div>
       <div class="flex-item eleven">Eleven</div>
       <div class="flex-item twelve">Twelve</div>
     </div>
   </section>


  </section>
  <footer>@copyright sujithuix@2018</footer>
</section>